/* Full page gradient background */
body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;   /* Horizontal center */
    align-items: center;       /* Vertical center */

    font-family: Poppins, Arial, sans-serif;

    /* 2 Color Gradient */
    background: linear-gradient(135deg, #ff7eb3, #ffae6d);
    color: white;
}

/* Main container (centered block) */
#con {
    text-align: center;
    width: 90%;
    max-width: 700px;
}

/* Heading */
#text {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 2px;
    text-shadow: 0 3px 10px rgba(0,0,0,0.3);
}

/* Image container (glass card) */
.img {
    display: flex;
    justify-content: space-around;   /* 👉 images center me */
    align-items: center;
    gap: 40px;                 /* 👉 equal gap between images */

    background: rgba(255, 255, 255, 0.2);
    padding: 50px;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
    transition: 0.3s ease;
}

.img:hover {
    transform: scale(1.03);
}

/* Individual Images */
.img img {
    width: 170px;
    border-radius: 18px;
    transition: 0.3s ease;
}

.img img:hover {
    transform: scale(1.12);
}

/* Result text */
#con > div:last-child {
    margin-top: 30px;
    font-size: 45px;
    font-weight: 700;
    color: green;
    text-shadow: 0 3px 12px rgba(179, 168, 168, 0.45);
}

.user {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;

    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    cursor: pointer;

    color: white;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);

    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.08);
    background: rgba(255, 255, 255, 0.35);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.45);
}

.para {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;

    color: #fff;
    opacity: 0.95;

    text-shadow: 0 2px 8px rgba(0,0,0,0.35);
    letter-spacing: 0.5px;

    padding: 10px 20px;
}


