*{
    margin: 0;
    padding: 0;
}

#con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 45px;
}

#text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 300;
    text-decoration: underline;
}

.img img {
    
    height: 200px;

}